In [1]:
import pandas as pd 

countries = [   'China', 'Italy', 'Iran', 'Spain',
                'Germany', 'US', 'France', 'Korea, South',
                'Switzerland', 'United Kingdom', 'Portugal'
            ]
countries2 = [  'China', 'Italy', 'Iran', 'Spain',
                'Germany', 'USA', 'France', 'S. Korea',
                'Switzerland', 'UK', 'Portugal'
            ]


deaths = pd.read_csv('covid_deaths.csv').rename(columns={"Country/Region": "Country"})#.rename(columns={"Country/Region": "Country"})
deaths

,Province/State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
confirmed = pd.read_csv('covid_confirmed.csv').rename(columns={"Country/Region": "Country"})
confirmed

,Province/State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,40,40,74,84,94,110,110,120,170,174
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,89,104,123,146,174,186,197,212,223,243
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,201,230,264,302,367,409,454,511,584,716
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,113,133,164,188,224,267,308,334,370,376
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,3,3,3,4,4,5,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,4,4,5,5
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,4
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
confirmed = confirmed.drop(['Province/State', 'Lat', 'Long'], axis=1).groupby('Country').sum()
deaths = deaths.drop(['Province/State', 'Lat', 'Long'], axis=1).groupby('Country').sum()

confirmed = confirmed.filter(countries, axis=0).T
deaths = deaths.filter(countries, axis=0).T

confirmed = confirmed.rename(columns={"US": "USA", "Korea, South": "S. Korea", "United Kingdom": "UK"})
deaths = deaths.rename(columns={"US": "USA", "Korea, South": "S. Korea", "United Kingdom": "UK"})

for c in countries2:
    confirmed = confirmed.rename(columns={c: f"{c}_confirmed"})
    deaths = deaths.rename(columns={c: f"{c}_deaths"})

covid = pd.concat([confirmed, deaths], axis=1)


def format_date(string):
    arr = string.split('/')
    month = int(arr[0])
    day = int(arr[1])
    year = int(arr[2])
    
    return f"20{year:02d}-{month:02d}-{day:02d}"

covid.index = [format_date(s) for s in covid.index]

In [9]:
import datetime
import requests 
import json
# CRYPTO API SETTINGS
COIN_HEADERS =  {
    'x-rapidapi-host': "coingecko.p.rapidapi.com",
    'x-rapidapi-key': "0e6a8d459emsha4b8121ebc28670p185339jsn88f62da8994f"
    }

query_string = {"vs_currency":"usd","days":"100000"}

COINS = ['bitcoin', 'ethereum', 'ripple', 'litecoin']

coin_dict = {}
for c in COINS:
    url = f"https://coingecko.p.rapidapi.com/coins/{c}/market_chart"
    res = requests.request("GET", url, headers=COIN_HEADERS, params=query_string)
    data = json.loads(res.text)
    for timestamp, price in data['prices']:
        date = str(datetime.datetime.fromtimestamp(timestamp/1000))[:10]
        date.replace('-', '/')
        d = coin_dict.get(date, {})
        d[f"{c}_usd"] = price
        coin_dict[date] = d

In [10]:
df = pd.DataFrame(coin_dict).T.merge(covid, 
                                how='outer', 
                                left_index=True, 
                                right_index=True).sort_index()[:-1]

for c in COINS:
    df.insert(len(df.columns), f"{c}_web", 0)

df.fillna(0)
df.index.rename('timestamp')

df.to_csv("../external_dataset.csv", index=True)